<main>
  <div class='card'>
    <div class='card-body'>
      <h1 class='text-center text-uppercase'>Hello world</h1>
      <h2 class='text-end text-lowercase'>Second</h2>
      <h3 class='text-capitalize'>3 title one two</h3>
      <hr />
      <div class='display-1'>Hello world</div>
      <div class='display-5'>Second</div>
      <div class='display-6'>3 title</div>
    </div>
  </div>
  <br />
  <br />
  <br />

  <span class='text-muted'>Додатковий текст</span>
  <br />
  <br />
  <br />

  <button class='btn btn-success'>
    <span class='text-uppercase'>Test batton</span>
    <h1>Test</h1>
  </button>
  <br />
  <br />
  <br />
  <div class='card'>
    <div class='card-body'>
      <p class='text-danger'>my text</p>
      <hr />
      <button
        class='btn btn-secondary btn-lg'
      >Додати</button>
      <button
        class='btn btn-outline-secondary btn-sm'
      >Редагувати</button>
      <button
        class='btn btn-outline-warning btn-sm'
      >Видалити</button>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class='card'>
    <div class='card-body'>
      Мій контент
    </div>
  </div>
</main>